.weatherTable {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  grid-column-gap: 10px;
  grid-row-gap: 15px;

  justify-items: left;
  align-items: center;

  justify-content: center;
}

.item-a {
  grid-column: 1;
  //grid-row: 1;
}

.item-b {
  grid-column: 2;

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  //grid-row: 1;
}

@media screen and (max-width: 350px) {
  .item-b {
    grid-column: 1;
  }

  .weatherTable {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
